.container{
  &__content{
    &--list{
      display: grid;
      row-gap: 2rem;
      &-item{
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 2rem;
        border-bottom: 2px solid $MainColor;
        padding-bottom: 2rem;
        @include break(xs){
          grid-template-columns: 1fr;
        }
        .item__box{
          display: grid;
          &--img{
            height: 10rem;
            border-radius: 40px;
            overflow: hidden;
            @include break(xs){
              height: 100%;
            }
          }
          &--number{
            display: flex;
            justify-content: space-between;
            height: fit-content;
            align-items: center;
            span{
              font-weight: 600;
            }
          }

        }
      }
    }
    &--total{
      &-box1{
        border-bottom: 2px solid $MainColor;
        padding: 2rem 0;
        display: grid;
        gap: 1rem;
        .box__attributes{
          display: flex;
          justify-content: space-between;
        }
      }
      &-box2{
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        p,strong{
          font-size: 1.5rem;
          color: black;
          font-weight: 700;
        }

      }
    }
    .button{
      width: 100%;
      height: 5.5rem;
      button{
        background-color: $SecondaryColor;
        color: $WhiteColor;
      }
    }

  }
}