.container{
  .search{
    &__container{
      position: relative;
      display: flex;
      &--input{
        width: 100%;
        display: flex;
        &-icon{
          position: absolute;
          width: 30px;
          height: 30px;
          bottom: 0;
          top: 0;
          left: 1rem;
          margin: auto;
        }
      }
    }
  }
  .filter{
    display: flex;
    justify-content: end;
  }
  .hero{
    position: relative;
    &__container{

      &--btn{
        position: absolute;
        bottom: 10px;
        right: 3rem;
        @include break(xs){
          right: 2rem;

        }
      }
    }
  }
  .story{
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    padding-bottom: 2rem;
  }
  .products{
    &__container{
      &--item{
        margin-top: 1rem;
      }
    }
  }
}