.searchMenu{
  position: absolute;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  &__container{
    border-radius: 8px;
    background-color: $MainColor;
    width: 90%;
    margin: auto;
    height: 33vh;
    transition: ease-in-out;
    &--row{
      &-item{
        width: 95%;
        margin: auto;
        position: relative;
        input{
          background-color: transparent;
          border-bottom: 1px solid $SecondaryColor;
          border-radius: 0;
          padding-right: 4.25rem;
        }
        .search__container--input-icon{
          right: 20px;
          opacity: 1;
        }
      }

    }
  }
}
.isActive{
  animation: SearchMenu 1000ms ;

}
.inActive{
  animation: CloseSearchMenu 1000ms;

}