input[type=search]{
  font-family: 'YekanBakh-FaNum';
  font-size: 1rem;
  width: 100%;
  background-color:$MainColor ;
  height: 60px;
  padding: 2rem;
  @extend .rounded;

}
input[type=checkbox]{
  width: 18px;
  height: 18px;
}
label{
  font-size: 1rem;
  font-weight: 400;
}