.swiper{
  &-slide{
    .swiper__slide--item{
      display: grid;
      gap: 1rem;
      justify-items: start;
      &-img{
        border-radius: 25px;
        overflow: hidden;
        height: 15rem;
        @include break(sm){
          height: 20rem;
        }
      }
      &-meta{
        h3{
          text-align: start;
          color: $SecondaryColor;
          font-weight: 500;
        }
      }
    }
  }
}