.seen{
  .story__item--profile{
    border: 1px solid $MainColor;
  }
}
.story__item{
  display: grid;
  justify-items: center;
  cursor: pointer;
  gap: 10px;
  &--profile{
    display: flex;
    @extend .circle;
    border: 2px solid $SecondaryColor;
    width: 80px;
    height: 80px;
    overflow: hidden;
    padding: 4px;
    background-color: $WhiteColor;
    &-img{
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &--title{
    width: 80px;
  }

}