//Persian number

@font-face {
  font-weight: 100;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-Thin.ttf");
}
@font-face {
  font-weight: 200;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-Light.ttf");
}
@font-face {
  font-weight: 300;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-Regular.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-SemiBold.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-Bold.ttf");
}

@font-face {
  font-weight: 600;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-Black.ttf");
}

@font-face {
  font-weight: 800;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-ExtraBold.ttf");
}
@font-face {
  font-weight: 900;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-ExtraBlack.ttf");
}
