@keyframes appear {
  0%{
    opacity: 0;
  }
}
@keyframes OpenDrawer {
  from {
    transform: translate(0, 100%);
  }
  to {
    transform: translate(0%, 0);
  }
}
@keyframes CloseDrawer {
  from {
    transform: translate(0%, 0);
  }
  to {
    transform: translate(0, 100%);

  }
}
@keyframes SearchMenu {
  0%{
    opacity: 0;
    clip-path: inset(0 0 100% 0);
  }
  100%{
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
@keyframes CloseSearchMenu {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}