h1{
  font-size: 2rem;
  font-weight: 500;
  @include break(xxs){
    font-size: 1.75rem;
  }
}
h2{
  font-size: 1.35rem;
  font-weight: 500;
  color: #232323;
}
h3{
  color: #636363;
  font-weight: 300;
  text-align: center;
  font-size: 1rem;
  @extend .truncate;
}
h4{
  font-size: 1.15rem;
  font-weight: 500;
}
p{
  font-size: 1.15rem;
  font-weight: 400;
  color: gray;
}
strong{
  font-size: 1.15rem;
  font-weight: 700;
}
span{
  font-size: 1.15rem;
  font-weight: 400;
}
label{
  font-size: 1.25rem;
}